{{ attach_library('signage_display/fullscreen') }}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="refresh" content="60">
    {{ head }}
    {{ styles }}
  </head>
  <body>
    {{ page.content }}
  </body>
</html>
